<div class="food-card archive">
        <div class="span-wrapper food-card-header">
            <span>%fName</span>
        </div>
        <div class="weight-calories">
            <div class="span-wrapper food-card-client premium">
                <span>%fNumb (%fClientName)</span>
            </div>
            <div class="span-wrapper food-card-client">
                <span>%fWeight г.</span>
            </div>
            <div class="span-wrapper food-card-client thin">
                <span>%fCal ккал.</span>
            </div>
        </div>
        <div class="money-frame">
            <div class="span-wrapper food-card-client">
                <span>%fPrice₽</span>
            </div>
            <div class="span-wrapper food-card-client medium">
                <span>+%fTips₽</span>
            </div>
        </div>
        <div class="ingredients">
            <span class="ingredients-text">%fIngredients</span>
            <span class="extra-info">Взято: %fTakeTime (%fTaker) %fClientComment %fExtraInfo</span>
        </div>
        <div class="buttons">
            <div class="ready-content">
                <span class="ready-status %fReadyColor">%fReadyState</span>
                <span class="ready-status %fReadyColor">%fReadyTime</span>
            </div>
            <div class="button-content">
                <button style="display: %fArchiveBtnDisplay" disabled class="button-outlined focused">%fArchiveTime</button>
                <button style="display: %fTakeButtonDisplay" class="button-colored" onclick="">Взять в готовность</button>
                <button style="display: %fReadyButtonDisplay" class="button-colored">Подтвердить готовность</button>
                <button style="display: %fMakeArchiveBtnDisplay" class="button-colored">Архивировать</button>
                <button class="button-overlay">Сведения</button>
                <div class="flag-container">
                    <button class="button-flag">
                        <span>Сообщить</span>
                        <img src="" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>