<div class="shifter-panel" id="%tid" style="border: 1px %border_st black">
    <span class="body-text name %status">%name</span>
    <span class="body-text">%place</span>
    <span title="ID" class="body-text">%uid</span>
    <span title="Начало работы" class="body-text">%stime</span>
    <span title="Конец работы" class="body-text">%etime</span>
    <div class="buttons">
        <button class="button-overlay" onclick="{
            let el
        }">Изменить</button>
        <button class="button-colored" style="display: %disp" onclick="close_take(%tid).then(r => location.reload())">Закрыть</button>
    </div>
</div>